In [1]:
# Import Modules
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as sts
import numpy as np

In [2]:
# Load data
ittfaFile = "../resources/ittfa_2009-2020.csv"
ittfa_df = pd.read_csv(ittfaFile)
ittfa_df.head()

,year,month,passengers_in,passengers_out,passengers_total,freight_in,freight_out,freight_total,mail_in,mail_out,...,flights_total,passengers_incl_transit_in,passengers_incl_transit_out,passengers_incl_transit_total,available_seats_in,available_seats_out,available_seats_total,seat_utilisation_in,seat_utilisation_out,seat_utilisation_total
0,2009,Jan,1223646,1025778,2249424,25791781,26785552,52577333,1744015,1013329,...,11811,1244404,1045681,2290085,1457769,1457446,2915215,85.363593,71.747495,78.556299
1,2009,Feb,969607,823540,1793147,27184874,27304789,54489663,1594689,909102,...,10177,989205,842937,1832142,1257714,1255734,2513448,78.651029,67.127035,72.893571
2,2009,Mar,937697,933843,1871540,31509322,29527013,61036335,1713906,1052860,...,11159,955905,952070,1907975,1370622,1372128,2742750,69.742424,69.386384,69.564306
3,2009,Apr,971404,1004204,1975608,28921311,26224702,55146013,1710087,890318,...,10951,986957,1019694,2006651,1341715,1340952,2682667,73.559362,76.042543,74.800600
4,2009,May,842073,922435,1764508,31179480,24396268,55575748,1870405,961951,...,10914,855367,935498,1790865,1341071,1342106,2683177,63.782380,69.703734,66.744199

In [9]:
ratioData = ittfa_df[['year','month','passengers_incl_transit_total','freight_total','mail_total','flights_total']]
ratioData.head()

,year,month,passengers_incl_transit_total,freight_total,mail_total,flights_total
0,2009,Jan,2290085,52577333,2757344,11811
1,2009,Feb,1832142,54489663,2503791,10177
2,2009,Mar,1907975,61036335,2766766,11159
3,2009,Apr,2006651,55146013,2600405,10951
4,2009,May,1790865,55575748,2832356,10914

In [14]:
ratioData['passengers_per_flight'] = ratioData.passengers_incl_transit_total / ratioData.flights_total
ratioData['freight_per_flight'] = ratioData.freight_total / ratioData.flights_total
ratioData['mail_per_flight'] = ratioData.mail_total / ratioData.flights_total
ratioData.head()

,year,month,passengers_incl_transit_total,freight_total,mail_total,flights_total,passengers_per_flight,freight_per_flight,mail_per_flight
0,2009,Jan,2290085,52577333,2757344,11811,193.894251,4451.556430,233.455592
1,2009,Feb,1832142,54489663,2503791,10177,180.027710,5354.197013,246.024467
2,2009,Mar,1907975,61036335,2766766,11159,170.980823,5469.695761,247.940317
3,2009,Apr,2006651,55146013,2600405,10951,183.239065,5035.705689,237.458223
4,2009,May,1790865,55575748,2832356,10914,164.088785,5092.152098,259.515851